################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCode/bin/Debug
/LeetCode/obj/Debug
/.vs/LeetCode/v15
