################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/LeetCode/bin/Debug
/C#/LeetCode/obj/Debug
/C#/.vs/LeetCode/v15
/C#/LeetCode/LeetCode.csproj
/C#/LeetCode/LeetCode.csproj.user
/C#/LeetCode/App.config
/C#/LeetCode/Properties
.DS_Store